@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #000;
  letter-spacing: 0.032em;
  line-height: 1.5em;
}

html, p {
  margin: 0 auto;
}

body {
  max-width: 1280px;
  margin: 0px;
}

hr {
  -webkit-box-shadow: 1px 1px 3px 0px #505050;
          box-shadow: 1px 1px 3px 0px #505050;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}

.hide-this {
  display: none;
}

.active-page {
  background-color: #dddddddd;
}

.fa-facebook, .fa-facebook-square {
  color: #3b5998;
}

.fa-twitter, .fa-twitter-square {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}

header .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  background-color: #3b5998;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  letter-spacing: 0.943em;
}

nav .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border-top: solid 6px #bbb;
  border-bottom: solid 6px #bbb;
  border-radius: 1px;
  outline-offset: .6rem;
}

nav h1 {
  padding: 0 10px;
  font-family: 'Bodoni Moda', serif;
  font-size: 35px;
  position: relative;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  text-shadow: 0.1em;
  z-index: 1;
  white-space: nowrap;
  text-shadow: 1px 0px 1px #000;
}

nav h1 span {
  font-family: 'Bodoni Moda', serif;
  color: #3b5998;
}

nav h1:hover {
  cursor: pointer;
}

nav ul {
  position: absolute;
  top: -1.2em;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.1em;
  width: 100vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3b5998;
  z-index: 2;
}

nav ul li {
  padding: 0.6em 0em;
  font-size: 1.25em;
  margin-bottom: 0.3em;
  border: solid 1px transparent;
  text-align: center;
}

nav ul li:hover {
  border: solid 1px #000;
  background-color: #bccbbd;
  cursor: pointer;
}

nav ul li a {
  color: #FFF;
}

.menu-burger {
  display: inline-block;
  position: relative;
  margin: auto 10px auto auto;
  background-color: #FFF;
  height: 0.125em;
  width: 20px;
}

.menu-burger::after, .menu-burger::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 0.125em;
  background-color: #FFF;
}

.menu-burger::after {
  top: 5px;
}

.menu-burger::before {
  bottom: 5px;
}

.menu-close {
  background-color: transparent;
}

.menu-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

main {
  background-color: #F2F2F244;
}

main .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
}

main .bg-img {
  display: block;
  width: 100%;
  max-width: 1280px;
  height: 46.03667vw;
  max-height: 589.26939px;
  background-image: url("../img/code/ball-63527_960_720 1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

main .subtitle-container {
  margin: 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  border: solid 1px #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .subtitle-container h3 {
  font-size: 20px;
}

main .title-actu {
  text-align: center;
  text-decoration: underline;
}

main .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 5px;
  border: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .card .main-text {
  margin: auto;
  padding: 20px;
}

main .card .main-img {
  width: 80%;
  margin: auto;
  border-radius: 5px;
}

main p {
  line-height: 1.4;
  -webkit-margin-before: 0.4em;
          margin-block-start: 0.4em;
  -webkit-margin-after: 0.4em;
          margin-block-end: 0.4em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

main p strong {
  font-weight: normal;
}

.col-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

.card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px #000;
  border-radius: 5px;
  max-width: 96vw;
  margin: auto;
}

.card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 50vh;
  max-width: 96vw;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-shadow: 2px 1px 1px #424141;
          box-shadow: 2px 1px 1px #424141;
}

.card-img img {
  width: 96%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 5px auto 5px auto;
}

.card-title {
  text-align: center;
  margin-bottom: 2.2em;
  font-size: larger;
  font-weight: 700;
  letter-spacing: 0.09em;
}

.card span {
  text-decoration: underline;
}

.card-loc, .card-content {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.card-text-content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 0.50em;
  padding-right: 0.50em;
}

.card .link-container {
  text-align: center;
}

.card a {
  background-color: #409be6;
  border: solid 1px #000;
  text-align: center;
  display: inline-block;
  padding: 0.3em;
  color: #fff;
}

h2 {
  text-align: center;
}

form label {
  max-width: 980px;
  margin-left: 5vw;
  display: block;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  font-size: larger;
}

form input, form textarea {
  display: block;
  min-height: 2.5em;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

form button {
  display: block;
  margin-top: 1.4em;
  margin-left: auto;
  margin-right: auto;
  width: 28vw;
  height: 5vh;
  font-size: 1em;
  background-color: azure;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fbf8f2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 1px #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 10vh;
  margin-top: 1em;
}

footer span {
  margin-top: 10px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 28px;
}

footer .social i {
  margin: 8px 10px;
}

footer .social i:hover {
  color: #935889;
}

@media screen and (min-width: 576px) {
  header .top-header {
    height: 70px;
  }
  body {
    margin: 0 auto;
  }
  #nav-bar-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    margin: 0;
  }
  nav h1 {
    margin: auto 0;
    -webkit-margin-before: 0.15em;
            margin-block-start: 0.15em;
    -webkit-margin-after: 0.15em;
            margin-block-end: 0.15em;
  }
  nav .titre {
    margin: 15px 0 15px 3px;
  }
  nav .titre:hover {
    outline: 0;
  }
  nav ul {
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto 50px auto auto;
    position: static;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  nav ul li {
    padding: 0 0.4em;
  }
  nav ul li:nth-child(n+2) {
    border-left: thin solid #000;
  }
  nav ul li a {
    color: #000;
  }
  #menu-burger {
    display: none;
  }
  main .card-index {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .card .main-img {
    width: 35%;
    margin: auto;
  }
  main .col-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  form label {
    margin-left: 0;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer span {
    margin: 0;
  }
  footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 40px;
  }
  footer .social i {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */