@import "header.scss";

$ratio_img : 3545/1632; 
// MAIN CONTENT
main {
    background-color: $color_second;
    & .img-container{
        display: flex;
        max-width: 1024px;    
    }
    & .bg-img{ 
        display: block; 
        width: 100vw;
        max-width: 1024px;
        height: 100vw/$ratio_img; 
        max-height: 1024px/$ratio_img;
        background-image: url("../img/code/code_back_cropped.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    } 
   
    .subtitle-container{
        margin: 1em 1em; 
        display:flex;
        border-radius: 5px;
        border: solid 1px #000;
        justify-content: center;
        align-items: center;
        & h3{
            font-size: 20px; 
        }
    }
}

// Footer
@import "footer.scss";   

// Media Desktop 
@import "media_desktop.scss";
